<div ng-init="init()">
    <div>
        <button class="btn btn-default" ng-click="open('sm')">Create new User</button>
    </div>
    <span ng-repeat="user in users">
        <div class="pull-left text-center alert alert-info" style="margin: 0px 10px; width: 150px;">
            <div class="text-right">
                <a class="fa fa-2x fa-remove" ng-click="deleteUser($index)"></a>
                <a class="fa fa-2x fa-edit"  ng-click="edit('sm', user)"></a>
            </div>
            <div class="fa fa-5x fa-user"></div>
            <div>{{user.name}}</div>
        </div>
    </span>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Create new User</h3>
        </div>
        <div class="modal-body">
            Name:<input type="text" ng-model="user.name">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="addUser(user)">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="myModalContent1.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit user</h3>
        </div>
        <div class="modal-body">
            Name:<input type="text" ng-model="user.name">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="editUser(user)">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>
</div>
